<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script>
  require(['controllers/room_app_controller'], function(RoomAppController){
    Pusher.channel_auth_endpoint = "/channel_auth"
    var pusher = new Pusher('<%= Pusher.key %>')
    window.app = new RoomAppController({
      pusher: pusher
    }, {
      email: '<%=  @current_user %>'
    }).appendTo('#app')
  })
</script>

<div id="app"></div>
